[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.db
*.db-shm
*.db-wal
*.log
Storage/Screenshots/
Storage/AgentTemplate/*.exe
Storage/AgentTemplate/*.dll
Storage/AgentTemplate/*.pdb
Storage/AgentTemplate/win-x64/
Storage/AgentTemplate/linux-x64/
Storage/AgentTemplate/osx-x64/
Storage/AgentTemplate/Publish/
Storage/AgentTemplate/runtimes/
